<% sellinfo = distance.sellinfo %>
<% buyinfo = distance.buyinfo %>
<% kinds = {'land' => '土地', 'building' => '物件'} %>
<li>
  <div class = 'row'>
    <div class = 'col-xs-12 col-sm-6'>
      <p>＜売り情報＞</p>
      <ul>
        <li>[住所]<%= sellinfo.address %></li>
        <li>[価格]<%= sellinfo.price %>万円</li>
        <li>[面積]<%= sellinfo.area %></li>
        <li>[利回り]<%= sellinfo.yield %>%</li>
        <li>[業者名/名前]<%= sellinfo.name %></li>
        <li>[入手会]<%= sellinfo.meeting %></li>
        <li>[種類]<%= kinds[sellinfo.kind] %></li>
      </ul>
    </div>
    <div class = 'col-xs-12 col-sm-6'>
      <p>＜買い情報＞</p>
      <ul>
        <li>[住所]<%= buyinfo.address %></li>
        <li>[価格]
          <% if buyinfo.lowest_price && buyinfo.highest_price %>
            <%= buyinfo.lowest_price %> 〜 <%= buyinfo.highest_price %>万円
          <% elsif buyinfo.lowest_price %>
            <%= buyinfo.lowest_price %>万円
          <% elsif buyinfo.highest_price %>
            <%= buyinfo.highest_price %>万円
          <% end %>
        </li>
        <li>[面積]
          <% if buyinfo.lowest_area && buyinfo.highest_area %>
            <%= buyinfo.lowest_area %> 〜 <%= buyinfo.highest_area %>
          <% elsif buyinfo.lowest_area %>
            <%= buyinfo.lowest_area %>
          <% elsif buyinfo.highest_area %>
            <%= buyinfo.highest_area %>
          <% end %>
        </li>
        <li>[業者名/名前]<%= buyinfo.name %></li>
        <li>[入手会]<%= buyinfo.meeting %></li>
        <li>[メモ]<%= buyinfo.memo %></li>
        <li>[種類]<%= kinds[buyinfo.kind] %></li>
      </ul>
    </div>
  </div>
  <div class='btn-delete'>
    <%= link_to '削除する', distance, method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %>
  </div>
</li>
